@import "tailwindcss";

@layer base {
  h1 {
    @apply text-[40px] font-semibold leading-tight text-[#161723];
  }

  p {
    @apply text-[16px] leading-relaxed text-[#424153];
  }
}

@layer utilities {
  .sectionWrapper {
    @apply py-20 px-4 md:px-6 lg:px-8 max-w-5xl mx-auto;
  }
}